.navbar-home{
  background-color: #2D8DFF;
}

.carousel-item{
  width: 1384px;
  height: 504px;
}

.footer-rodape{
  background-color: #2D8DFF;
  height: 100%;
}

.form-novidade{
  background-color: #2D8DFF;
  height: 100%;
}

.color-font-white-size{
  color: white;
  font-size: 30px;
  font-family: 'Roboto Mono';
}

.logo{
  width: 35px;
  height: 85px;
}

.logo-nome{
  width: 323.14px;
  height: 160px;
}

.div-categoria{
  background-color: #381EE2;
  height: 58px;
}

.btn-pesquisa{
  background-color: #ffff;
}

.btn-search{
  width: 45px;
  height: 35px;
}

.text-novidade{
  font-size: 40px;
  color: #ffff;
}

.div-categoria-sub{
  height: 58px;
  font-family: 'Roboto Mono';
  color: #ffff;
  font-size: 40px;
  font-weight: bold;  
}

.div-sub-feed{
  background-color: #2D8DFF;
}

.links{
  font-family: 'Roboto Mono';
  font-size: 28px;
  font-weight: bold;
}

.footer-form{
  font-family: 'Roboto Mono';
  color: #ffff;
  font-weight: bold;
}

.pd-0{
  padding: 0px !important; 
}

.pd-0 img{
  object-fit: cover;
}

.img-detalhes-pequena{
  width: 150px;
  height: 120px;
}

.font-roboto-color{
  color: #2D8DFF;
  font-family: 'Roboto Mono';
  font-size: 22px;
  font-weight: bold;
}

  .myButton{
  background: #2D8DFF;
  background-image: -webkit-linear-gradient(top, #2D8DFF, #2D8DFF);
  background-image: -moz-linear-gradient(top, #2D8DFF, #2D8DFF);
  background-image: -ms-linear-gradient(top, #2D8DFF, #2D8DFF);
  background-image: -o-linear-gradient(top, #2D8DFF, #2D8DFF);
  background-image: linear-gradient(to bottom, #2D8DFF, #2D8DFF);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #2D8DFF;
  -moz-box-shadow: 0px 1px 3px #2D8DFF;
  box-shadow: 0px 1px 3px #2D8DFF;
  font-family: 'Roboto Mono';
  color: #ffffff;
  font-size: 20px;
  padding: 10px 40px 10px 40px;
  border: solid #2D8DFF 2px;
  text-decoration: none;
  font-weight: bold;
}

  .myButton:hover {
  background: #2D8DFF;
  background-image: -webkit-linear-gradient(top, #2D8DFF, #2D8DFF);
  background-image: -moz-linear-gradient(top, #2D8DFF, #2D8DFF);
  background-image: -ms-linear-gradient(top, #2D8DFF, #2D8DFF);
  background-image: -o-linear-gradient(top, #2D8DFF, #2D8DFF);
  background-image: linear-gradient(to bottom, #2D8DFF, #2D8DFF);
  text-decoration: none;
}