.navbar-home{
  background-color: #2D8DFF;
}

.carousel-item{
  width: 1384px;
  height: 504px;
}

.form-novidade{
  background-color: #2D8DFF;
}

.logo{
  width: 35px;
  height: 85px;
}

.nav-secundaria{
  background-color: #381EE2;
  width: 1440px;
  height: 58px;
}